 @model List<Tarefa>

<h2>Lista de Tarefas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Tarefa</a>
    <a asp-action="Create" class="btn btn-secondary">Voltar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tarefa Id</th>
            <th>Nome da Tarefa</th>
            <th>Descrição</th>
            <th>Data Inicial</th>
            <th>Data Final</th>
            <th>Status da Tarefa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarefa in Model)
        {
            <tr>
                <td>@tarefa.TarefaId</td>
                <td>@tarefa.NomeTarefa</td>
                <td>@tarefa.Descricao</td>
                <td>@tarefa.DtInicio</td>
                <td>@tarefa.DtFim</td>
                <td>@tarefa.StatusTarefa</td>
                <td>
                    <a asp-action="Detalhes" class="btn btn-info" asp-route-id="@tarefa.TarefaId">Detalhes</a>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@tarefa.TarefaId">Editar</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@tarefa.TarefaId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

